@import "variables";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 60px;
}

main {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

h1, h2 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}
